{{#each this}}
<div class="card">
  <div class="overlay">
    <img class="card-image" id="{{id}}" srcset="{{webformatURL}} 640w, {{largeImageURL}} 1280w" sizes="400px" src={{webformatURL}} alt="{{tags}}" loading="lazy" />
  </div>
  <ul class="card-info">
    <li class="card-info__item">
      <img class="card-info__value" width="20px" height="20px"
        src="https://img.icons8.com/ios-filled/50/null/filled-like.png" />
      <p>{{likes}}</p>
    </li>
    <li class="card-info__item">
      <img class="card-info__value" width="20px" height="20px"
        src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/null/external-view-content-creator-tanah-basah-glyph-tanah-basah-2.png" />
      <p>{{views}}</p>
    </li>
    <li class="card-info__item">
      <img class="card-info__value" width="20px" height="20px"
        src="https://img.icons8.com/ios-glyphs/30/null/speech-bubble--v1.png" />
      <p>{{comments}}</p>
    </li>
    <li class="card-info__item">
      <img class="card-info__value" width="20px" height="20px"
        src="https://img.icons8.com/external-anggara-glyph-anggara-putra/32/null/external-download-social-media-interface-anggara-glyph-anggara-putra.png" />
      <p>{{downloads}}</p>
    </li>
  </ul>
</div>
{{/each}}